.operator
{
	background-color:orange;
	color: white; 
}
.number
{
	background-color: #6E6E6E;
	color:white;
}
button
{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-color: black;
  border-style: solid;
  margin: 1.5px;
}
#BTN0
{
	border-radius: 19px;
	width: 105px;
	height: 45px;
	text-align: left;
	border: 1px;
}
#kasten
{
	text-align: center;
	background-color: black;
	color:white;
	border-radius: 10px;
	border-style: solid;
	width: 250px;
	height: auto;
}
#AnzeigeFlaeche
{
	text-align: right;
	padding-right: 30px;
}
#history
{
	overflow: auto;
	text-align: center;
	color: white;
	border-style: solid;
	background-color: lightgrey;
	height: 200px;
	width: 95px;
	border-radius: 10px;
	margin: -205px;
	margin-left: 260px;
	max-height: 200%;
}
